* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    background: #ffffff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: block;
    background: #28cc9e;
    padding: 10px 20px;
}

header .container {
    width: 1247px;
    margin: 0 auto;
}

nav {
    display: inline-block;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 10px;
    font: 0.75rem 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

header .container > a {
    display: inline-block;
    float: right;
    padding: 5px 10px;
    margin-right: 10px;
    font: 0.75rem 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}