* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background: #ffffff;
    font: 20px 'Open Sans', sans-serif;
}

#app {
    display: block;
    position: relative;
    width: 60rem;
    margin: 1rem auto;
}

h3 {
    display: block;
    width: 19rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background: #e5e5e5;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #cccccc;
}

form {
    display: inline-block;
    width: 19rem;
    padding: 0rem;
    background: #e5e5e5;
}

form p {
    display: block;
    padding: 0 2rem;
}

form p span {
    display: block;
    font-size: 0.75rem;
    margin: 0 0 0.25rem 0;
}

form p input {
    display: block;
    width: 15rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.65rem;
    margin: 0 0 1.25rem 0;
    border: 1px solid #aaaaaa;
    border-radius: 0.35rem;
}

form button {
    display: block;
    width: 15rem;
    margin: 2.5rem 2rem 2rem 2rem;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    background: #fd4545;
    color: #ffffff;
    border-radius: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 1px 5px rgba(240, 70, 70, 0.35);
}
form button:hover {
    background: #ff0000;
}

aside {
    display: table-cell;
    position: absolute;
    left: 19rem;
    top: 0;
    content: '';
    width: 41rem;
    height: 100%;
    background: #28cc9e;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    vertical-align: center;
}

aside p {
    display: block;
    position: absolute;
    width: 15rem;
    top: calc(50% - 2.25rem);
    left: calc(50% - 7.5rem);
    font-size: 1.35rem;
    text-align: center;
    line-height: 1.25;
}

aside p a {
    display: inline-block;
    padding: 0.35rem 0.8rem;
    margin: 0.3rem 0 0 0.25rem;
    background: #ffffff;
    border-radius: 1rem;

    color: #000000;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}
aside p a:hover {
    background: #f5f5f5;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.35);
}