* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    background: #ffffff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: block;
    background: #28cc9e;
    padding: 10px 20px;
}

header .container {
    width: 1247px;
    margin: 0 auto;
}

nav {
    display: inline-block;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    display: block;
    float: left;
    padding: 5px 10px;
    margin-right: 10px;
    font: 0.75rem 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

header .container > a {
    display: inline-block;
    float: right;
    padding: 5px 10px;
    margin-right: 10px;
    font: 0.75rem 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

#app {
    display: block;
    width: 1250px;
    margin: auto;
}

#app::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none;
}

#allstock {
    display: block;
    float: left;
    width: 800px;
    height: calc(100vh - 7rem);
    min-height: 35rem;
    margin: 2rem 5px 2rem 0;
    padding: 1.5rem 0 0 0;
    background: #28cc9e;
    overflow-y: visible;
}

input#search {
    width: 315px;
    padding: 6px 10px;
    margin: 0px 120px 1rem 117px;
    background: #ffffff;
    border: 2px solid #aaaaaa;
    box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    font: 0.8rem 'Open Sans', sans-serif;
}

#table-holder {
    display: block;
    height: calc(100vh - 11.85rem);
    background: #d8fcfc;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
}

th {
    width: 120px;
    padding: 5px;
    background: #28cc9e;
    border: 1px solid #08ac7e;
    font: 0.7rem 'Open Sans', sans-serif;
    font-weight: 700;
}

tr .cell-name {
    width: 320px;
}

tr .cell-distributor {
    width: 250px;
}

td {
    background: #d4f3ef;
    padding: 3px 8px;
    border: 1px solid #08ac7e;
    font-size: 0.75rem;
    text-align: left;
}

td.cell-id,
td.cell-stock {
    text-align: center;
}

#newproduct {
    float: left;
    width: 445px;
    height: calc(100vh - 7rem);
    min-height: 35rem;
    margin: 2rem 0 0 0;
    overflow-y: auto;
    background: #28cc9e;
}

#newproduct h3 {
    display: block;
    width: 100%;
    padding: 2.1rem 0;
    text-align: center;
    border-bottom: 1px solid #08ac7e;
}

#newproduct div {
    display: block;
    position: relative;
    padding: 1.5rem;
}

#newproduct input#searchnew {
    display: block;
    width: 385px;
    padding: 0.4rem 0.6rem;
    margin: 0;
    font: 0.8rem 'Open Sans', sans-serif;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.35);
}

#newproduct ul {
    display: block;
    position: absolute;
    list-style: none;
    border: 1px solid #cccccc;
    background: #dddddd;
    left: 1.5rem;
    top: 3.5rem;
    z-index: 1000;
    box-shadow: 0px 0px 3px 2px rgba(100, 100, 100, 0.35);
}

#newproduct ul li {
    display: block;
    width: 383px;
    max-height: 350px;
    overflow-y: auto;
    font-size: 0.7rem;
    padding: 0.5rem 0.7rem;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

#newproduct ul li:hover {
    background: #aaffcc;
}

#newproduct table {
    border-collapse: collapse;
}

#newproduct table tr td {
    width: 241px;
    font: 0.65rem 'Open Sans', sans-serif;
    padding: 0.35rem 0.5rem;
}

#newproduct table tr td:nth-child(2n+1) {
    width: 140px;
    font-weight: 600;
}

