<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up | Argon</title>
</head>

<body>
    <form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
        </p>
    {% endfor %}

    {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
    {% endfor %}

    <button type="submit">Sign up</button>
    </form>

</body>

</html>