{% extends 'pos/authenticatedbase.html' %}

{% load static %}

{% block htmltitle %}Stock | Argon{% endblock %}

{% block htmlstatic %}
    <script src="{% static "pos/libs/vue.js" %}"></script>
    <link rel="stylesheet" href="{% static "pos/stock.css" %}">
{% endblock %}

{% block htmlapp %}
    <section id="allstock">

        <div id="search-container">
            <input type="text" placeholder="search" id="search" v-model="searchtext">
        </div>

        <div id="table-holder">
            <table>
                <tr>
                    <th class="cell-id">ID</th>
                    <th class="cell-name">NAME</th>
                    <th class="cell-distributor">DISTRIBUTOR</th>
                    <th class="cell-stock">STOCK</th>
                </tr>
                <tr is="product-row" v-for="product in products" v-if="product.visible" v-bind:key="product.id" v-bind:product="product"></tr>
            </table>
        </div>

    </section>

    <aside id="newproduct">
        <h3>New Product</h3>
        <p>
            <input type="text" v-model="newproductquery"><button>Search</button>
            <ul v-if="newproductsuggestions.length > 0">
                <% newproductsuggestions %>
            </ul>
        </p>
        <p id="selectiondata" v-if="selectedsuggestion != null">
            <% selectedsuggestion.id %>
        </p>
    </aside>
{% endblock %}

{% block htmljs %}
    <script src="{% static "pos/stock.js" %}"></script>
    <script>
        vm.products = {{ productlist|safe }};
    </script>
{% endblock %}